@font-face {
    font-family: 'letra';
    src: url(fonts/esp.ttf);
}

#paper {
    width: 130%; /*Size of square*/
    height: 215%;
    transform: translate(-10%,10%);
    background-color: #e6dbca;  /*Fill color inside*/
    background-image: url('visual/texture.png');
    box-shadow: 4px 4px 10px black;

}

#question {
    font-family: 'letra';
    font-size: 68px;
    color: black;
}

#text {
    font-family: 'letra';
    font-size: 42px;
    color: black;
    margin-top: 20px;
}

.container2 {
    position: relative;
    transform: translate(0%, 100%);
}

.valentine{
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

@keyframes up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.envelope {
    position: relative;
    width: 300px;
    height: 199px;
    background-color: #f08080;
}

.envelope::before {
    background-color: #f08080;
    content:"";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.card {
    position: absolute;
    background-color: #eae2b7;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    box-shadow: 2px 2px 5px black;
}

.card::before {
    content: "";
    position: absolute;
    border: 3px solid #003049;
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
}

.txt {
    position: absolute;
    font-family: 'letra';
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    top: 19px;
    left: 8px;
    color: #003049;
}

.heart {
    background-color: #d62828;
    display:inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    width: 105px;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before, .heart:after {
    content: "";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

.hearts {
    position: absolute;
    top: 15px;
}

@keyframes heart {
    0% {
        transform: translateY(0) rotate(-45deg) scale(0.3);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px) rotate(-45deg) scale(1.3);
        opacity: 0.5;
    }
}

.one, .two, .three, .four, .five {
    background-color: red;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    top: 50px;
}

.one:before, .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
}

.one:before, .two:before, .three:before, .four:before, .five:before {
    top: -5px;
    left: 0;
}

.one {
    left: 10px;
    animation: heart 1s ease-out infinite;
}

.two {
    left: 30px;
    animation: heart 2s ease-out infinite;
}

.three {
    left: 50px;
    animation: heart 1.5s ease-out infinite;
}

.four {
    left: 70px;
    animation: heart 2.3s ease-out infinite;
}

.five {
    left: 90px;
    animation: heart 1.7s ease-out infinite;
}

.front {
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front:before {
    position: absolute;
    content: "";
    border-left: 300px solid #f8ad9d;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
}

.shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.03);
    top: 265px;
    left: -15px;
    border-radius: 50%;
    z-index: -1;
    animation: scale 3s linear infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scaleX(0.85);
    }
}